<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <style>
        .filter a{
            text-decoration: none;
            color: grey;
        }
        .active{
            color: red!important;
        }
    </style>
</head>
<body>

<h4>数据列表</h4>


<div class="container">
    <div class="row">
        <div><a class="btn btn-primary" href="{{ add_url }}">添加数据</a></div>
        <div class="col-md-9">
            {% if show_list.config.search_filter %}
                <form action="" class="pull-right">
                    <input type="text" name="q" value="{{ show_list.config.key_world }}">
                    <button>submit</button>
                </form>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <select name="action" id="" style="width: 200px;padding: 5px 8px;display: inline-block; margin: 5px 0">
                    <option value="">-------------</option>
                    {% for item in show_list.get_action_list %}
                        <option value="{{ item.name }}">{{ item.desc }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Go</button>
                <table class="table table-bordered table-striped">
                    <thead>
                    <th>序号</th>
                    {% for header in show_list.get_header %}
                        <th>{{ header }}</th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for data in show_list.get_body %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for item in data %}
                                <td>{{ item }}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="pull-right">{% include 'page.html' %}</div>
            </form>
        </div>
        <div class="col-md-3">
            <div class="filter">
            {% if show_list.get_filter_linktags %}<h4 >Filter</h4>{% endif %}
                {% for filter_field,link_tags in show_list.get_filter_linktags.items %}
                    <div class="well">
                        <p>By {{ filter_field.upper }}</p>
                        {% for link in link_tags %}
                            <p>{{ link }}</p>
                        {% endfor %}

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $('#choice').click(function () {
        if ($(this).prop('checked')) {
            $(".choice_item").prop('checked', true)
        }
        else {
            $(".choice_item").prop('checked', false)
        }
    })

</script>

</body>
</html>